:root {
  --green: rgb(1, 135, 98);
  --green-opacity: rgba(1, 135, 97, 0.05);
  --navbar: linear-gradient(rgb(245, 255, 251) 31.04%, rgb(255, 255, 255) 100%);
}

.link-hover {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--green);
  height: 100%;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 10px;
  transition: background-color 0.3s;
}

.link-hover:hover {
  background-color: var(--green-opacity);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full {
  width: 100%;
  height: 100%;
}

@media (max-width: 400px) {
  .link-hover {
    font-size: 1rem;
  }

  .logo {
    width: 130px;
  }
}
